fastapi
uvicorn

pydantic

langchain-core
langchain-openai
langchain-community
langchain-tavily
langchain-text-splitters
langgraph
langsmith

httpx
requests

amadeus
praw

faiss-cpu
sentence-transformers

pytest
